# dependencies
node_modules/

# Next.js
.next/
out/

# environment
.env
.env.*
!.env.example
.env.local
.env.production

# logs
*.log

# OS
.DS_Store
Thumbs.db

# editor
.vscode/

# build
dist/
coverage/

# Python
__pycache__/
*.pyc